---
import Menu from '@/components/Menu.svelte'
import CA from '@/components/CA.svelte'
import Svg from '@/components/Svg.svelte'

const title = 'ARENO CTO'
const description = 'Conoce la historia de ARENO CTO y DOGFLORK!✨'
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="view-transition" content="same-origin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/assets/logo.png" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet" />

    <title>{title}</title>
    <style lang="scss" is:global>
      @use 'src/sass/global.scss' as *;

      * {
        font-family: 'Quintessential';
      }

      body {
        background-image: url('/assets/jesus.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;

        svg {
          filter: drop-shadow(0 0 2px rgb(0, 0, 0));
        }

        .hero {
          height: 100vh;

          display: flex;
          flex-direction: column;

          .banner {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;

            @include notDesktop {
              display: none;
            }
          }

          h1 {
            margin-top: 10vh;
            text-align: center;
            font-size: 50px;

            @include notDesktop {
              font-size: 30px;
              text-shadow: 0 0 10px black;
              color: white;
            }
          }

          h2 {
            text-align: center;
            @include notDesktop {
              margin-top: 40px;
              font-size: 16px;
              color: white;
              text-shadow: 0 0 10px black;
            }
          }
        }

        p {
          padding: 10px 0;
          font-size: 22px;
        }

        #historia {
          padding-top: 20vh;
          padding-bottom: 50px;
          min-height: 100vh;
          margin-top: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.815);
          display: flex;
          gap: 40px;

          background-image: url('/assets/papiro.jpg');
          background-size: cover;
          background-position: center;

          @include notDesktop {
            flex-direction: column;
          }

          .text {
            padding: 20px;
            max-width: 600px;
          }
        }

        .socials {
          display: flex;
          gap: 20px;
        }

        #comprar {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          height: 100vh;
        }
      }
    </style>
  </head>
  <body>
    <div class="hero">
      <div class="g-wrapper titles">
        <img class="banner" src="/assets/banner.png" alt="" />
        <h1>¿Que pasó con dogflork?</h1>

        <h2>ARENO CTO, un proyecto REALMENTE comunitario, descubre su historia.</h2>
      </div>
    </div>
    <Menu />

    <div id="historia">
      <img src="/assets/dogflork3.png" width="300px" alt="" />
      <div class="text">
        <p>
          <b>Areno, un chileno de 15 años, decidió crear una memecoin inspirada en el perrito de Flork.</b> Con ambición y transparencia, abrió
          un canal de YouTube donde explicaba los riesgos y beneficios de su proyecto, ganándose la confianza de la comunidad.
        </p>

        <p>
          Invirtió en un equipo profesional y, al lanzar la memecoin, alcanzó un millón de market cap en minutos. Sin embargo, "snipers"
          aprovecharon la situación, perjudicando a seguidores reales. A pesar de anticiparlo, Areno enfrentó una ola de odio, incluyendo
          amenazas de muerte.
        </p>

        <p>
          Abrumado, abandonó el proyecto y las redes, pero aprendió valiosas lecciones sobre emprendimiento, gestión de comunidades y los
          riesgos del mundo cripto.
        </p>

        <p>
          <b>ARENO CTO</b> pretende difundir esta historia, para concienciar a nuevos inversores de los riesgos asociados en este tipo de inversiones,
          y a las nuevas generaciones que sean mas conscientes de los peligros de exponerse en público.
        </p>
      </div>
    </div>

    <div id="comprar">
      <div class="socials">
        <a href="https://t.me/ARENOCTO" target="_blank">
          <Svg name="telegram" width="50" height="50" fill="white" />
        </a>
        <a href="https://x.com/Areno0ficial" target="_blank">
          <Svg name="twitter" width="50" height="50" fill="white" />
        </a>
        <a href="https://youtu.be/-7Rft-20AWA?t=324" target="_blank">
          <Svg name="youtube" width="50" height="50" fill="white" />
        </a>

        <a href="https://pump.fun/coin/F9YaWZB2pvhf412XYX6Lq5eYF7dhV1ePWtjJesKgpump" target="_blank">
          <Svg name="pump" width="50" height="50" fill="white" />
        </a>

        <!-- <a href="https://dexscreener.com/solana/51tqbfn5sn1zohranjnfrc1ktkik4ej8qsbyjuq8rpbe" target="_blank">
          <Svg name="dexscreener" width="50" height="50" />
        </a>-->
      </div>

      <CA client:visible />
    </div>
  </body>
</html>

<script>
  import { animReveal } from '@/utils/reveal'

  window.onload = () => {
    setTimeout(() => {
      animReveal()
    }, 200)
  }
</script>
